.shop {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
/* * ----------mobile responsive added------------------ */
@media only screen and (max-width: 425px) {
  .shop {
    display: grid;
    grid-template-columns: 1fr;
  }
  .product-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.cart-container {
  border: 2px solid black;
  margin: 20px 0;
  padding-bottom: 10px;
  border-radius: 10px;
  height: fit-content;
  position: sticky;
  top: 0;
}
